# ignore all image files
*.png
*.svg
*.eps
*.mov
*.avi
*.mp4
*.gif

#ignore saved data files
*.mat

#ignore spurious directories
functions/@constr_gen/.ipynb_checkpoints/

#ignore this weird temprorary file DS_Store
.DS_Store

# Gurobi Log File
gurobi.log