# ignore all image files
*.png
*.svg
*.eps
*.mov
*.avi

#ignore saved data files
*.mat

#ignore spurious directories
functions/@constr_gen/.ipynb_checkpoints/

#ignore this weird temprorary file DS_Store
.DS_Store
